$light-bgc: rgba(250, 244, 244, 0.3);
$blue-bgc: rgba(203, 238, 252, 0.4);

@mixin border-grey {
	padding: 5px;
	border: 1px solid rgb(209, 206, 206);
	border-radius: 5px;
}

%small-button {
	padding: 0 5px;	
	height: 25px;
	margin-right: 10px;
	background-color: rgb(238, 128, 101);
	border: none;
	border-radius: 5px;
	cursor: pointer;
} 

.container {
    width: 80%;
	max-width: 1280px;
	margin: 0 auto;
}

.creators {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px;
	min-height: 45px;
}

.creatorNotes {
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}

.createButton {
	padding: 5px;
	background-color: rgb(163, 243, 176);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.creatorWrapper {
	align-items: center;
}

.editor {
	flex-direction: column;
	align-items: center;
}

.noteForm, .tagInput {	
	padding: 3px;
	border-radius: 10px;	
	margin-right: 10px;
	font-size: 18px;	
}

.noteForm {
	width: 250px;
	height: 30px;
	margin-left: 10px;
	min-height: 50px;
}

.change {
	margin-top: 5px;
	width: 120px;	
}

.notes {
	display: flex;
	padding-top: 5px;
}

.notesList {	
	width: calc(60% - 20px);
	margin-right: 20px;
	position: relative;	
}

.noteBackground {
	display: block;
}

.viewingNoteBackground {
	display: block;
	position: absolute;
	width: 70vw;
	padding: 30px 5px;	
	background-color: rgba(124, 115, 115, 0.8);
	z-index: 3;
	border-radius: 15px;
}

.note {
	display: flex;
	align-items: center;
	background-color: $light-bgc;
	@include border-grey;	
	margin-bottom: 10px;
	position: relative;	
}

.viewingNote {
	background-color: #fff;
	font-size: 22px;
}

.viewButton {
	border: 0;
	background-color: #fff;
	position: absolute;
	left: calc(100% - 25px);
	top: 10px;
}

.view, .rollUp {
	display: flex;	
	width: 15px;
	height: 15px;
	border: 1px solid rgb(15, 15, 15);
	cursor: zoom-in;
}

.rollUp {
	align-items: flex-end;
	cursor: zoom-out;
}

.rollUp > span {
	display: block;
	width: 15px;
	height: 3px;
	background-color: rgb(15, 15, 15);
}


.noteWrapper {
	max-width: 85%;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.noteWrapper > p {
	margin-bottom: 10px;
}

.delete, .edit {
	@extend %small-button
}

.edit {
	background-color: rgb(213, 238, 101);	
}

.noteText {
	margin-top: 5px;	
	background-color: #fff;
	@include border-grey;
}

.editing > span {
	display: inline-block;
	padding: 0 5px;
	padding-bottom: 2px;
	margin-left: 5px;
	border-radius: 7px;	
	background-color: $blue-bgc;
}

.noteTags {
	font-weight: bold;
	font-size: 14px;
	color: rgb(2, 71, 117);
}

.allTags {
	width: calc(40% - 20px);	
}

.tagList {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	border-radius: 10px;	
	background-color: $blue-bgc;
}

.tagItem {
	display: flex;
	width: auto;
	align-items: center;
	margin-bottom: 10px;
	margin-right: 10px;
	@include border-grey;
	padding-left: 2px;
}

.tag {
	display: block;
	cursor: zoom-in;
	padding: 0 5px;
	font-weight: 600;
}

.delTag {
	background-color: transparent;
	color: rgb(238, 128, 101);
	font-weight: bold;
	font-size: 18px;
	padding: 3px;
	margin-right: 0;
}

.tag:hover ~ .delTag {
	display: block;
}

@media screen and (max-width: 800px) {
	.note, .notes {	
		flex-direction: column-reverse;
		align-items: start;		
	}

	.allTags, .notesList {
		width: calc(100% - 10px);
		margin: 0;
		padding: 10px 5px;		
	}
	
	.viewingNoteBackground {
		width: 90vw;
		left: -5vw;
	}

	.tagList {
		justify-content: center;
		margin: 0;
	}
}

@media screen and (max-width: 600px) {
	.creatorWrapper {
		flex-direction: column-reverse;
	}

	.creatorTagsWrapper {
		flex-direction: column;
		align-items: center;
	}
	
	.add {
		width: 80px;
		margin-top: 10px;
	}	
}

@media screen and (max-width: 480px) {
	.notes {
		flex-direction: column-reverse;
	}

	.allTags, .notesList {
		width: calc(100% - 10px);
		margin: 10px 0;
		padding: 10px 5px;		
	}
}

@media screen and (max-width: 425px) {
	.creators {
		flex-direction: column-reverse;
	}

	.creatorNotes {
		margin-top: 10px;
	}

	.noteForm {
		width: 220px;
		margin: 0;
	}
}
