$light-bgc: rgba(250, 244, 244, 0.3);
$blue-bgc: rgba(203, 238, 252, 0.4);

@mixin border-grey {
	padding: 5px;
	border: 1px solid rgb(209, 206, 206);
	border-radius: 5px;
}

%small-button {
	padding: 0 5px;	
	height: 25px;
	margin-right: 10px;
	background-color: rgb(238, 128, 101);
	border: none;
	border-radius: 5px;
	cursor: pointer;
} 

.container {
    width: 80%;
	max-width: 1280px;
	margin: 0 auto;
}

.creators {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px;
	min-height: 45px;
}

.creatorNotes {
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}

.createButton {
	padding: 5px;
	background-color: rgb(163, 243, 176);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.creatorWrapper {
	align-items: center;
}

.editor {
	flex-direction: column;
	align-items: center;
}

.noteForm, .tagInput {	
	padding: 3px;
	border-radius: 10px;	
	margin-right: 10px;
}

.noteForm {
	width: 250px;
	height: 30px;
	margin-left: 10px;
}

.change {
	margin-top: 5px;
	width: 120px;	
}

.notes {
	display: flex;
	padding-top: 10px;
}

.notesList {	
	width: 60%;
	margin-right: 20px;
}

.noteWrapper {
	margin-right: 10px;
}

.note {
	display: flex;
	align-items: center;
	background-color: $light-bgc;
	@include border-grey;	
	margin-bottom: 10px;	
}

.noteWrapper {
	display: flex;
	flex-direction: column;
}

.noteWrapper > p {
	margin-bottom: 10px;
}

.delete, .edit {
	@extend %small-button
}

.edit {
	background-color: rgb(213, 238, 101);	
}

.noteText {
	margin-top: 5px;	
	background-color: #fff;
	@include border-grey;
}

.editing > span {
	display: inline-block;
	padding: 0 5px;
	padding-bottom: 2px;
	margin-left: 5px;
	border-radius: 7px;	
	background-color: $blue-bgc;
}



.noteTags {
	font-weight: bold;
	font-size: 14px;
	color: rgb(2, 71, 117);
}

.allTags {
	width: calc(40% - 20px);
	padding: 10px;
	border-radius: 10px;	
	background-color: $blue-bgc;
}

.tagList {
	width: 60%;
}

.tagItem {
	display: flex;
	margin-bottom: 10px;
	@include border-grey;
}

@media screen and (max-width: 1024px) {
	.tagList {	
		width: 95%;		
	}
}

@media screen and (max-width: 800px) {
	.note {	
		flex-direction: column-reverse;
		align-items: start;		
	}
}

@media screen and (max-width: 600px) {
	.creatorWrapper {
		flex-direction: column-reverse;
	}

	.creatorTagsWrapper {
		flex-direction: column;
		align-items: center;
	}
	
	.add {
		width: 80px;
		margin-top: 10px;
	}
	.allTags {
		width: calc(40% - 10px);
		padding: 10px 5px;		
	}

	.tagList {	
		width: 100%;		
	}
}

@media screen and (max-width: 480px) {
	.notes {
		flex-direction: column-reverse;
	}

	.allTags, .notesList {
		width: calc(100% - 10px);
		margin: 10px 0;
		padding: 10px 5px;		
	}
}

@media screen and (max-width: 425px) {
	.creators {
		flex-direction: column-reverse;
	}

	.creatorNotes {
		margin-top: 10px;
	}

	.noteForm {
		width: 220px;
		margin: 0;
	}
}
